<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <link rel="stylesheet" href="/stylesheets/homeCSS.css">
    <script src="/javascripts/script.js"></script>
    <script src= "https://code.jquery.com/jquery-3.4.0.min.js" ></script>
    <!-- SweetAlert 2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- lazyload -->
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
    <title>AnhTuanIT</title>
</head>
<body class="lazy-background">
    <div>
        <div id="text" align="center">
            <h1>Hello World!</h1>
            <h2> Nhập tên của bạn</h2>
            <input type="search" id="input" placeholder="Nhập tên của bạn"/>
            <!-- <input type="button" id="button" value="Enter" onclick="myFunction()"/> -->
            <br/>
            <a href="#" class="hover" onclick="myFunction()">Enter</a>
            <h2 id="output"></h2>
            <br/>
        </div>
    </div>
    <script src="/javascripts/lazyloadbody.js"></script>
</body>
</html>